APP_NAME=LearnExpressJS
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=localhost:3000
APP_TIMEZONE=Asia/Jakarta
APP_LOCALE=id
APP_CLIENT=dev
APP_VERSION=1.9.0

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=pg
DB_VERSION=12.3
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=learn_express_js
DB_USERNAME=postgres
DB_PASSWORD=12345
DB_T_RETRY=3

DISK_INSTANCE=public

BROADCAST_DRIVER=pusher
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync

GOOGLE_CLIENT_ID=191515413198-5gsu9ql2ta32i2nufncdbqbaspncb72e.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=SyufITDRVt4UjcGbduHfbet5
GOOGLE_API_KEY=AIzaSyCCW2VRDBGTV8AT5DO_Z1c5KIjGlU-pi0A
GOOGLE_API_MAP_KEY=AIzaSyA8UiY_2hSX_HB7tVfgUokojTI41OAEXzg

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@kmob2.com
MAIL_FROM_NAME="KMOB2"

PUSHER_APP_ID=KMOB-SOCKET
PUSHER_APP_KEY=0cf0be877cb5bac7a313b554be33c685
PUSHER_APP_SECRET=c3c195eea698dd483dbd3529be401931
PUSHER_APP_CLUSTER=mt1

WEBSOCKET_APP_URL=35.197.158.254

FCM_SERVER_KEY=AAAA3v_bd80:APA91bH7L6gKh4xHRcMi4C97AJzU-9J2HrM5ie9yuyrLnptnTLxmgdMDiCjlWbgTAVK4yIDZUiwyzaX_Kxl3JBdOfeVbPJq5uPRGuSqu4yQhkBnFFl_B5iQHkgko9C4c-KBUfUlmeZJ5
FCM_SENDER_ID=957775312845

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_TTL=null
JWT_SECRET=Sot9j2KKckn8tfxb9ZHO4sCDYMtctk4OCY3H4WXTJaBBj0DFfz6DVJ77lxcKB9SC